[model_providers.minimax]
name = "MiniMax Chat Completions API"
base_url = "http://0.0.0.0:8000"
wire_api = "responses"
requires_openai_auth = false
request_max_retries = 4
stream_max_retries = 10
stream_idle_timeout_ms = 300000

[profiles.m27]
model = "gpt-5.4"
model_provider = "minimax"