[model_providers.minimax]
name = "MiniMax Chat Completions API"
base_url = "http://0.0.0.0:8000"
wire_api = "responses"
requires_openai_auth = false

[profiles.m27]
model = "codex-MiniMax-M2.7"
model_provider = "minimax

[features]
shell_snapshot = false
